{% extends "ap2_en.j2" %}

{% block summary %}
<p>This specification implements the <a href="https://www.w3.org/TR/2009/REC-skos-reference-20090818/">Simple Knowledge Organization System</a> (SKOS).</p>
{% endblock %}

{% block status %}
{% endblock %}
